.module__creation {
    overflow: hidden;
    .module {
        &__background {
            left: -450px;
            bottom: -20px;
        }
        &__container {
            @include media-breakpoint-up(lg) {
                width: 100%;
            }
        }
        &__image {
            @include media-breakpoint-down(md) {
                max-width: 60%;
            }
        }
        &__wrapper {
            @include media-breakpoint-down(md) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.creation-process {
    &__step {
        margin-bottom: 30px;
        position: relative;
    }
    &__content {
        position: relative;
        background: $body-bg;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        padding: 50px;
        text-align: center;
        overflow: hidden;
        @extend .d-inline-flex;
        @extend .align-items-center;
        @extend .justify-content-center;
        @extend .flex-wrap;
        box-shadow: 10px 10px 30px rgba($black, .05), 
                    -10px -10px 30px $gray-lighter;
        transition: .4s ease-in-out;
        @include media-breakpoint-down(md) {
            padding: 30px;
        }
        & * {
            transition: .4s ease-in-out;
        }
        .app__dark & {
            background-color: $body-bg-dark;
            box-shadow: 10px 10px 30px #141414, 
                        -10px -10px 30px #1c1c1c;
        }
    }
    &__title {
        color: $black;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
        .app__dark & {
            color: $white;
        }
    }
    &__number {
        font-size: 250px;
        font-weight: 700;
        line-height: 250px;
        color: $red;
        margin-right: 8px;
        display: block;
        margin-bottom: 10px;
        position: absolute;
        opacity: .1;
        top: 10px;
        left: 30px;
        @include media-breakpoint-down(sm) {
            font-size: 200px;
            line-height: 200px;
            top: 0;
        }
    }
    &__description {
        font-size: 16px;
        font-weight: 400;
        color: $gray;
    }
    &__icon {
        font-size: 50px;
        color: $red;
        margin-bottom: 15px;
        .app__dark & {
            color: $gray-light;
        }
    }
}