.module__creation {
    overflow: hidden;
    .module {
        &__background {
            left: -450px;
            bottom: -20px;
        }
        &__container {
            @include media-breakpoint-up(lg) {
                width: 100%;
            }
        }
        &__image {
            @include media-breakpoint-down(md) {
                max-width: 60%;
            }
        }
        &__wrapper {
            @include media-breakpoint-down(md) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.creation-process {
    &__step {
        margin-bottom: 30px;
        position: relative;
    }
    &__content {
        position: relative;
        background: $body-bg;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        padding: 50px;
        text-align: center;
        overflow: hidden;
        @extend .d-inline-flex;
        @extend .align-items-center;
        @extend .justify-content-center;
        @extend .flex-wrap;
        box-shadow: 10px 10px 30px rgba($black, .05), 
                    -10px -10px 30px $gray-lighter;
        transition: .4s ease-in-out;
        @include media-breakpoint-down(md) {
            padding: 30px;
        }
        & * {
            transition: .4s ease-in-out;
        }
        .app__dark &,
        .modal__dark &  {
            background-color: $body-bg-dark;
            box-shadow: 10px 10px 30px #141414, 
                        -10px -10px 30px #1c1c1c;
        }
    }
    &__title {
        color: $black;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
        .app__dark &,
        .modal__dark &  {
            color: $white;
        }
    }
    &__number {
        font-size: 250px;
        font-weight: 700;
        line-height: 250px;
        color: $red;
        margin-right: 8px;
        display: block;
        margin-bottom: 10px;
        position: absolute;
        opacity: .1;
        top: 10px;
        left: 30px;
        @include media-breakpoint-down(sm) {
            font-size: 200px;
            line-height: 200px;
            top: 0;
        }
    }
    &__description {
        font-size: 16px;
        font-weight: 400;
        color: $gray;
    }
    &__icon {
        font-size: 50px;
        color: $red;
        margin-bottom: 15px;
        .app__dark &,
        .modal__dark &  {
            color: $gray-light;
        }
    }
    &__carousel {
        position: relative;
        .owl {
            &-stage {
                @extend .d-flex;
                @extend .align-items-stretch;
                @extend .justify-content-start;
                @extend .flex-wrap;
                // @include media-breakpoint-down(sm) {
                //     align-items: flex-start;
                // }
                &-outer {
                    overflow: visible !important;
                }
            }
            &-item {
                margin-bottom: 50px;
            }
            &-nav {
                &-prev,
                &-next {
                    display: flex;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 10;
                    width: 50px;
                    height: 50px;
                    background-color: $white;
                    border-radius: 10px;
                    box-shadow: 5px 5px 20px rgba($black, .08);
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: $gray-dark;
                    transition: .4s ease-in-out;
                    .app__dark &,
                    .modal__dark &  {
                        background-color: lighten($body-bg-dark, 3%);
                        color: $white;
                    }
                    @media (max-width: 380px) {
                        width: 40px;
                        height: 40px;
                    }
                }
                &-prev {
                    left: -10px;
                }
                &-next {
                    right: -10px;
                }
                @media (max-width: 380px) {
                    &-prev {
                        left: -25px;
                    }
                    &-next {
                        right: -25px;
                    }
                }
            }
            &-dots {
                bottom: 0 !important;
                @include media-breakpoint-down(sm) {
                    bottom: -20px !important;
                }
            }
        }
        .creation-process {
            &__step {
                text-align: left;
                padding: $grid-gutter-width / 2;
                height: 100%;
                margin: 0;
                // @include media-breakpoint-down(sm) {
                //     height: auto;
                // }
                @media (max-width: 380px) {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
            &__content {
                text-align: left;
                padding: 40px 30px 20px;
                border-radius: 30px;
                box-shadow: 10px 10px 40px rgba($black, .08);
                @extend .justify-content-start;
                @extend .align-items-start;
                @extend .align-content-start;
                .app__dark &,
                .modal__dark & {
                    background-color: lighten($body-bg-dark, 1%);
                    box-shadow: none;
                }
            }
            &__title {
                font-size: 20px;
                text-align: left;
                margin-bottom: 15px;
            }
            &__icon {
                font-size: 40px;
                margin-bottom: 15px;
                .app__dark &,
                .modal__dark &  {
                    color: $red;
                }
            }
            &__description {
                margin-bottom: 15px;
                line-height: 1.8em;
                font-size: 16px;
            }
            &__assets {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
                li {
                    display: inline-block;
                    padding: 8px 16px;
                    border-radius: 16px;
                    background-color: darken($body-bg, 3%);
                    margin: 4px 8px 4px 0;
                    transition: .4s ease-in-out;
                    .app__dark &,
                    .modal__dark &  {
                        background-color: lighten($body-bg-dark, 3%);
                        color: rgba($white, .7);
                    }
                }
            }
        }
    }
}