.module__hero {
    min-height: 100vh;
    background-size: cover;
    background-position: left bottom;
    background-image: linear-gradient(to top, darken($body-bg, 1%) 0%, $body-bg 100%);
    .app__dark & {
        background-image: linear-gradient(to top, darken($body-bg-dark, 1%) 0%, $body-bg-dark 100%);
    }
    .container {
        max-width: 1200px;
    }
    &--social {
        margin-top: -60px;
        position: relative;
        z-index: 2;
    }
    &--avatar {
        position: relative;
        z-index: 1;
        @include media-breakpoint-up(md) {
            margin-top: 0px;
            transform: scale(1.1);
        }
    }
}