.app-button {
    @extend .btn;
    background: $gray;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    &__main {
        @include linear-gradient($red, $pink);
        .app-button__content {
            color: $white;
        }
        &.app-button__has-shadow {
            box-shadow: 5px 5px 20px rgba($red, .4),
                        -5px -5px 20px rgba($gray-light, .4);
            .app__dark & {
                box-shadow: 10px 10px 30px rgba($red, .2),
                            -10px -10px 30px #1c1c1c;
            }
        }
        .module__red & {
            background: $white;
            .app-button__content {
                color: $red;
            }
            &.app-button__has-shadow {
                box-shadow:  10px 10px 30px #c64b37, 
                             -10px -10px 30px #ff654b;
            }
        }
    }
    &__white {
        background-color: $white;
        .app-button__content {
            color: $red;
        }
        &.app-button__has-shadow {
            box-shadow: 10px 10px 30px rgba($black, .05), 
                        -10px -10px 30px $gray-lighter;
        }
        .app__dark & {
            background-color: $body-bg-dark;
            box-shadow: 10px 10px 30px #141414, 
                        -10px -10px 30px #1c1c1c;
            .app-button__content {
                color: $white;
            }
        }
    }
    &__content {
        color: findColorInvert($gray);
    }
    &__text {
        background: none;
        .app-button__content {
            color: $gray;
        }
        @each $color in $color-scheme {
            $color-name: nth($color, 1);
            $color-val: nth($color, 2);
            &.app-button__text--#{$color-name} {
                .app-button__content {
                    color: $color-val;
                }
            }
        }
    }
} 