.module__creation {
    overflow: hidden;
    .module {
        &__background {
            left: -450px;
            bottom: -20px;
        }
        &__container {
            @include media-breakpoint-up(lg) {
                width: 100%;
            }
        }
        &__image {
            @include media-breakpoint-down(md) {
                max-width: 60%;
            }
        }
        &__wrapper {
            @include media-breakpoint-down(md) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.creation-proccess {
    &__step {
        margin-bottom: 30px;
    }
    &__content {
        background: $body-bg;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        padding: 50px;
        @extend .d-inline-flex;
        @extend .align-items-center;
        @extend .flex-wrap;
        box-shadow: 10px 10px 30px rgba($black, .05), 
                    -10px -10px 30px $gray-lighter;
        transition: .4s ease-in-out;
        @include media-breakpoint-down(md) {
            padding: 30px;
        }
        & * {
            transition: .4s ease-in-out;
        }
        .app__dark & {
            background-color: $black;
            box-shadow: 10px 10px 30px #141414, 
                        -10px -10px 30px #1c1c1c;
        }
    }
    &__title {
        color: $black;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 30px;
        &--step {
            font-weight: 700;
            color: $red;
            margin-right: 8px;
        }
        .app__dark & {
            color: $white;
        }
    }
    &__description {
        font-size: 16px;
        font-weight: 400;
        color: $gray;
    }
}