.module__hero {
    min-height: calc(100vh - 60px);
    background-size: cover;
    background-position: left bottom;
    .container {
        max-width: 1200px;
    }
    &--social {
        margin-top: -60px;
    }
}