.app-button {
    @extend .btn;
    background: $gray;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    &__main {
        @include linear-gradient($red, $pink);
        .app-button__content {
            color: $white;
        }
        &.app-button__has-shadow {
            box-shadow: 5px 5px 20px rgba($red, .4),
                        -5px -5px 20px rgba($gray-light, .4);
            .app__dark & {
                box-shadow: none;
            }
        }
        .module__red & {
            background: $white;
            .app-button__content {
                color: $red;
            }
            &.app-button__has-shadow {
                box-shadow:  10px 10px 30px #c64b37, 
                             -10px -10px 30px #ff654b;
            }
        }
    }
    &__white {
        background-color: darken($body-bg, 10%);
        .app-button__content {
            color: $red;
        }
        &.app-button__has-shadow {
            box-shadow: 10px 10px 30px rgba($body-bg-dark, .05), 
                        -10px -10px 30px $gray-lighter;
        }
        .app__dark & {
            background-color: lighten($body-bg-dark, 5%);
            box-shadow: none;
            .app-button__content {
                color: $white;
            }
        }
    }
    &__content {
        color: findColorInvert($gray);
    }
    &__text {
        background: none;
        .app-button__content {
            color: $gray;
        }
        @each $color in $color-scheme {
            $color-name: nth($color, 1);
            $color-val: nth($color, 2);
            &.app-button__text--#{$color-name} {
                .app-button__content {
                    color: $color-val;
                }
            }
        }
    }
} 

.back-button {
    background: none;
    border: none;
    font-size: 20px;
    color: $gray-darker;
    transition: .4s ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;
    box-shadow: none !important;
    margin-left: -($grid-gutter-width / 2);
    .app__dark & {
        color: rgba($white, .7);
        &:hover {
            color: $red;
        }
    }
    &__hide {
        width: 0;
        opacity: 0;
        pointer-events: none;
        padding: 0;
        margin-left: 0;
    }
    &__show {
        width: 50px;
        opacity: 1;
        pointer-events: auto;
    }
}