.about {
    &__image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include media-breakpoint-down(sm) {
            position: relative;
            height: auto !important;
        }
    }
    &__media {
        &--wrapper {
            position: fixed;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            overflow: hidden;
            @include media-breakpoint-down(sm) {
                position: relative;
                height: auto !important;
            }
        }
        .module__hero--v2 {
            &__background {
                transform: scale(1.5);
                @include media-breakpoint-down(sm) {
                    transform: scale(1.3);
                    margin-bottom: -100px;
                }
            }
        }
    }
    &__content {
        min-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: $grid-gutter-width;
        position: relative;
        z-index: 1;
        .app__dark & {
            color: $white;
        }
        @include media-breakpoint-down(sm) {
            overflow: initial;
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }
    }
    &__title {
        font-size: 2.5rem;
        line-height: 3.5rem;
        &--emoji {
            display: inline-block;
            font-size: 4rem;
            text-align: center;
            animation: waver 1s alternate infinite;
            transform-origin: 50% 90%;
            animation-timing-function: ease-in-out;
        }
        @include media-breakpoint-down(sm) {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
    &__hello {
        @include media-breakpoint-down(sm) {
           margin-top: -100px;
        }
    }
    &__section {
        margin-bottom: $grid-gutter-width * 1.5;
        &--title {
            width: 100%;
            margin-bottom: $grid-gutter-width;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 700;
        }
        &--content {
            font-size: 1rem;
            line-height: 1.8rem;
            .app__dark & {
                color: $gray-light;
            }
        }
        &--buttons {
            .app-button {
                margin-bottom: 16px;
            }
        }
    }
    &__skills {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            padding: 8px 16px;
            border-radius: 16px;
            background-color: darken($body-bg, 3%);
            margin: 8px 16px 8px 0;
            transition: .4s ease-in-out;
            .app__dark & {
                background-color: lighten($body-bg-dark, 5%);
                color: rgba($white, .7);
            }
        }
    }
    &__cta {
        padding: 16px;
        text-align: center;
        color: $gray-darker;
        border-radius: 10px;
        box-shadow: 10px 10px 40px rgba($black, .08);
        cursor: pointer;
        .app__dark & {
            color: $white;
            background-color: lighten($body-bg-dark, 3%);
        }
    }
    &__more {
        &--button {
            border: none;
            background-color: $white;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            box-shadow: 10px 10px 40px rgba($black, 0.08);
            padding: $grid-gutter-width / 2;
            display: flex;
            align-items: space-between;
            justify-content: center;
            flex-wrap: wrap;
            outline: none;
        }
        &--image {
            width: 100%;
            margin-bottom: $grid-gutter-width;
        }
        &--label {
            text-transform: uppercase;
            font-size: 16px;
        }
        @include media-breakpoint-down(sm) {
            &--wrapper {
                margin-bottom: $grid-gutter-width / 2;
            }
            &--button {
                justify-content: flex-start;
                align-items: center;
            }
            &--image {
                width: auto;
                height: 80px;
                margin-bottom: 0;
                margin-right: $grid-gutter-width;
            } 
        }
        .app__dark & {
            &--button {
                background-color: lighten($body-bg-dark, 3%);
            }
            &--image {
                filter: brightness(2);
            }
            &--label {
                color: $white;
            }
        }
    }
}
@keyframes waver {
    0% {transform: rotate(-20deg);}
    100% {transform: rotate(25deg);}
  }