body {
    background: $body-bg;
    overflow-x: hidden;
}
.app {
    background-color: $body-bg;
    transition: .4s ease-in-out;
    min-height: 100vh;
    &__dark {
        background-color: $body-bg-dark;
    }
}
.container {
    @include media-breakpoint-up(xl) {
        max-width: 1440px;
    }
}

.divider {
    width: 10%;
    height: 5px;
    @include linear-gradient($red, $pink);
}