.portfolio {
    &__item {
        border: none;
        border-radius: 20px;
        box-shadow: -20px -20px 60px lighten($body-bg, 10%),
                    20px 20px 60px darken($body-bg, 10%);
        border: 10px solid $body-bg;
        background-color: $body-bg;
        cursor: pointer;
        transition: .4s ease-in-out;
        color: $gray-darker;
        overflow: hidden;
        .app__dark & {
            background-color: $body-bg-dark;
            color: $white;
            box-shadow: -20px -20px 60px lighten($body-bg-dark, 2%),
                        20px 20px 60px darken($body-bg-dark, 3%);
            border-color: $body-bg-dark;
        }
        &--wrapper {
            margin-bottom: 30px;
        }
        &--fields {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: left;
            li {
                display: inline-block;
                text-transform: uppercase;
                color: $gray;
                font-size: 12px;
                font-weight: 500;
                margin-right: 5px;
                &:after {
                    content: ',';
                }
                &:last-child {
                    margin-right: 0;
                    &:after {
                        content: '';
                    }
                }
            }
        }
        &--button {
            border: 1px solid $red;
            color: $red;
        }
        .card {
            &-body {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                padding: 0;
            }
            &-title {
                font-weight: 300;
                font-size: 18px;
                padding: 16px 32px;
                margin: 0;
            }
            &-img {
                border-radius: 20px;
            }
        }
    }
}