.footer {
    &__main {
        background: $body-bg;
        transition: .4s ease-in-out;
        .app__dark & {
            background-color: $body-bg-dark;
        }
        .footer {
            &__menu {
                &--item {
                    &-link {
                        color: $gray-darker;
                        font-weight: 600;
                        font-size: 14px;
                        transition: .4s ease-in-out;
                        .app__dark & {
                            color: $white;
                        }
                    }
                }
            }
            &__copyright {
                font-size: 14px;
                color: rgba($black, .3);
                transition: .4s ease-in-out;
                .app__dark & {
                    color: rgba($white, .3);
                }
                a {
                    color: rgba($black, .3);
                    transition: .4s ease-in-out;
                    .app__dark & {
                        color: rgba($white, .3);
                    }
                }
            }
        }
        .sources {
            font-size: 12px;
            color: $gray;
            transition: .4s ease-in-out;
            .app__dark & {
                color: rgba($gray-light, .3);
            }
        }
    }
}