.modal {
    &-backdrop {
        opacity: .7;
    }
    &-content {
        border: none;
    }
    &__close {
        width: 50px;
        height: 50px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        background: $white;
        position: fixed;
        top: 0;
        right: 0;
        font-size: 30px;
        outline: none !important;
        box-shadow: none !important;
        border: none;
        @include media-breakpoint-up(md) {
            top: 20px;
            right: 20px;
            border-radius: 50%;
        }
    }
    &__request-cv {
        z-index: 9999999999;
        .modal {
            &-dialog {
                height: 100%;
                @include media-breakpoint-down(sm) {
                    margin: 0;
                }
                @include media-breakpoint-up(md) {
                    height: calc(100% - 60px);
                }
            }
            &-content {
                height: 100%;
                @include media-breakpoint-down(sm) {
                    border-radius: 0;
                }
            }
            &-body {
                position: relative;
                padding: 0;
                border-radius: 0;
                @include media-breakpoint-up(md) {
                    border-radius: 5px;
                }
                .embed-responsive {
                    height: 100%;
                    position: absolute;
                }
            }
            &__close {
                z-index: 2;
            }
        }
        &--frame {
            height: 100%;
        }
    }

    &__menu {
        .modal {
            &-content {
                @include linear-gradient($red, $pink);
            }
        }
        .module {
            &__title,
            &__subtitle {
                color: $white;
            }
            &__title {
                @include media-breakpoint-down(sm) {
                    font-size: 40px;
                }
            }
        }
        .social-menu {
            &__item {
                color: $white;
            }
        }
        .menu {
            &__menu {
                .nav-link {
                    color: rgba($white, .7);
                    font-size: 22px;
                }
                @include media-breakpoint-down(sm) {
                    padding-top: 16px;
                    padding-bottom: 16px;
                    margin-top: 16px;
                    margin-bottom: 16px;
                    border-top: 1px solid rgba($white, .1);
                    border-bottom: 1px solid rgba($white, .1);
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        .scheme-switch {
            padding: 0.5rem 1rem;
            .custom-control {
                &-label {
                    &:before {
                        background-color: rgba($white, 0);
                        border-color: $white;
                        opacity: 0.5;
                    }
                    &:after {
                        background-color: $white;
                        opacity: 0.5;
                    }
                }
                &-input {
                    &:checked + .custom-control-label {
                        &:before,
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}