//Fonts
$montserrat: font(montserrat), sans-serif;

//Colors
$gray: color(gray);
$gray-dark: color(gray-dark);
$gray-darker: color(gray-darker);
$gray-light: color(gray-light);
$gray-lighter: color(gray-lighter);
$white: color(white);
$black: color(black);
$red: color(red);
$pink: color(pink);

//Social colors
$instagram: social(instagram);
$dribbble: social(dribbble);
$github: social(github);
$linkedin: social(linkedin);
$facebook: social(facebook);
$twitter: social(twitter);

$body-bg: $gray-lighter;
$body-color: $gray-darker;
$body-bg-dark: $black;
$body-color-dark: $gray-light;

// Ratios
$ratios: (
    1x1: 100%,
    16x9: 56.25%,
    4x3: 75%,
    3x2: 66.66%,
    8x5: 62.5%
);

// Slider
$slider-pagination-size: 10px;
$slider-pagination-size-var: 4;
$slider-control-size: 40px;

// Glitch config
$glitch-gap-h: 20px;
$glitch-gap-v: 2px;
$glitch-time-anim: 2.25s;